@media(max-width: 950px){
    .container {
        width: auto;
        margin: 0 auto;
    }
    .header__body-menu-list-item>a {
        text-decoration: none;
        font-size: 12pt;
        font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    }
    .header__body-menu-list>li {
        padding: 0px 12px;
        transition: all 300ms;
        width: 90px;
        height: 32pt;
        align-content: center;
    }
    .header__body-menu-list-item>a:hover {
        font-size: 12pt;
    }
    .header__body-menu-list-item>a:active {
        font-size: 14pt;
        color: orange;
    }
    .header__body-menu-list {
        display: block;
    }
    .main>div>img {
        width: 160px;
    }
}